[submodule "programming-assignments-24fall/asst2"]
	path = programming-assignments-24fall/asst2
	url = https://github.com/Nicooo-Wang/CS149-24FALL-asst2.git
[submodule "programming-assignments-24fall/asst3"]
	path = programming-assignments-24fall/asst3
	url = https://github.com/Nicooo-Wang/CS149-24FALL-asst3.git
